<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> {% block title %} - Covid Analyzer{% endblock title %} </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">Covid Analyzer</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                    
                            <li class="nav-item "><a href="#" class="nav-link">Home</a>
                            <li class="nav-item "><a href="#" class="nav-link">Analyzer</a>

                    </ul>
                    <span class="navbar-text">
                        <div class="navbar-nav">

                            {% if g.user %}
                            <span>{{ g.user['username'] }}</span>
                            <a href="{{ url_for('auth.logout') }}" class="nav-link">Log Out</a>
                            {% else %}
                            <a href="{{ url_for('auth.register') }}" class="nav-link">Register</a>
                            <a href="{{ url_for('auth.login') }}" class="nav-link">Log In</a>
                            {% endif %}
                        </div>
                    </span>
                </div>
            </div>
            
        </nav>

        <section class="content">
            <header>
                {% block header %}{% endblock %}
            </header>
            {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
            {% block content %}{% endblock %}
        </section>

        <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    </body>
</html>